*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #121212;
}
@font-face {
    font-family: "SR";
    src: url(/font/MixUI-Regular.woff2);
}
@font-face {
    font-family: "SB";
    src: url(/font/MixUI-Bold.woff2);
}
@font-face {
    font-family: "SE";
    src: url(/font/Azure-B.woff2);
}
@font-face {
    font-family: "SV";
    src: url(/font/Azure-B.woff2);
}
.header_all{
    display: flex;
    background-color: black;
    /* padding: 16px;
    height: 24px; */
    justify-content: space-between;
    align-items: center;
    padding-bottom: 11px;
    padding-top: 8px;
    padding-right: 16px;
    padding-left: 16px;
}
.header{
    height: 56px;
}
.header_search{
    height: 16px;
    width: 16px;
    padding-inline: 16px;
    padding-top: 4px;
} 
.header_hamburger{
    height: 24px;
    width: 24px;
    margin-left: 16px;
}
.header_buttons{
    display: flex;
}
.header_button{
    background: white;
    border-radius: 999px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 7px 16px;
    /* padding-block: 4px; */
    /* padding-inline: 16px; */

}
/* .sub_headers{
    padding-inline: 16px;
} */
 .header_button span {
    font-family: "SR";
    font-weight: 700;
    font-size: 13px;
 }
.gap{
    padding: 0px 16px;
}
.header_popular{
    margin-bottom: 12px;
    margin-top: 24px;
}
.header_popular h2{
    font-size: 1.25rem;
    font-family: "SB";
    color: white;
    font-weight: 700;
}
.popular_card img{
    aspect-ratio: 1 / 1;
    border-radius: 4px;
    object-fit: cover;
    inline-size: 152px;
}
.popular_text a{
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-family: "SR";
}
.sen a  {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.popular_card{
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding: 8px;
}
.popular_card_second img{
    aspect-ratio: 1 / 1;
    border-radius: 4px;
    object-fit: cover;
    inline-size: 152px;
}
.popular_card_second{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding: 8px;
}
.popular_images{
    display: flex;
    overflow: scroll;
    scrollbar-width: none;
}
.sub_footer{
    padding: 8px 16px 40px;
}
.contents{
   list-style: none;
}
.contents li{
    margin: 8px 0px;
    font-family: "SR";
    color: #b3b3b3;
    font-size: 1rem;
    font-weight: 400;
}
.footers {
    margin-top: 32px;
}
.inside_footer{
    margin-bottom: 32px;
}
.inside_footer p {
    font-size: 1rem;
    color: #fff;
    font-weight: 700;
    font-family: "SB";
}
.svg{
    width: 16px;
    height: 16px;
}
.footer_style {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    background-color: rgb(41, 41, 41);
}
.foot {
  display: flex;
  gap: 16px;
  margin-bottom: 22px;
}
.hr_line {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 20px;
}
.contents_footers {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.last_footer{
    padding-top: 16px;
}
.contents_footers li{
    font-family: "SR";
    color: #b3b3b3;
    font-size: 0.875rem;
    font-weight: 400;
    margin-right: 16px;
    margin-bottom: 8px;
}
.spotify {
    font-size: 0.875rem;
    font-family: "SR";
    color: #b3b3b3;
    font-weight: 400;
}
.foot_english {
    padding-top: 16px;
}
.foot_btn {
    background-color: transparent;
    border-radius:  9999px;
    padding-inline-start: 15px;
    padding-inline-end: calc(var(--encore-spacing-base, 16px) - 1px);
    border: 1px solid var(--essential-subdued, #818181);
    min-inline-size: 0px;
    min-block-size: var(--encore-control-size-smaller, 32px);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 0.8125rem;
    font-family: "SR";
    color: white;
    font-weight: 700;
}
/* .popular{
    display: flex;
    flex-direction: column;
    margin-inline-start: 8px;
    max-inline-size: 168px;
    min-block-size: 48px;
    padding-block-end: 8px;
    padding-block-start: 8px;
    padding-inline-start: 8px;
    padding-inline-end: 8px;
    row-gap: 8px;
} */

/*  */